input(type='hidden', value=user._id)#userId
input(type='hidden', value=JSON.stringify({
  'festivalpasses': locals.user.festivalpasses,
  'meals': locals.user.meals,
  'tshirts': locals.user.tshirts,
  'festivaldvd': locals.user.festivaldvd,
  'tickets': locals.user.tickets
}))#ticketQty
input(type='hidden', value=JSON.stringify(locals.prices))#priceData

style(type='text/css').
  #account-form-container {
    width: 627px !important;
    margin: 100px auto;
  }
  
  .form-horizontal .control-label { width: 200px; }
  .input-mini { margin: 0 10px; }
  .controls .help-inline { font-weight: normal; font-size: 10pt; }
  .table { font-size: 10pt; }
  .table tbody { font-weight: normal; }
  .big { font-size: 13pt; line-height: 16pt; }

script(type='text/javascript')
  var tickets = JSON.parse($("#ticketQty").val());
  var prices = JSON.parse($("#priceData").val());
  var total = 0;
  
  function toPrice(p) {
    var s = p.toFixed(2).toString();
    return "$"+s;
  }
  
  function tableRow(sku, property) {
    var qty = eval("tickets."+property);
    var price = eval("prices."+property);
    total += qty * price;
    
    var row = "<tr><td>"+sku+"</td><td>"+qty+"</td><td>"+toPrice(price)+"</td><td>"+toPrice(qty*price)+"</td></tr>";
    return row;
  }

  $(document).ready(function() {
    var participant_skus = [{n: "WCHFF 2013 Festival Pass - Dancers", m: "festivalpasses.dancers"},
      {n: "WCHFF 2013 Festival Pass - Administrators", m: "festivalpasses.administrators"},
      {n: "WCHFF 2013 Festival Pass - Chaperones", m: "festivalpasses.chaperones"},
      {n: "Musical Performance - Festival Pass", m: "festivalpasses.musicalperformance"},
      {n: "Sunday Meal Package - Lunch &amp; Dinner", m: "meals.package"},
      {n: "Sunday Meal Package - Children", m: "meals.packagechild"},
      {n: "Festival DVD - Musical Performance", m: "festivaldvd.musicalperformance"},
      {n: "Festival DVD - Sunday Afternoon", m: "festivaldvd.sundayafternoon"},
      {n: "Festival DVD - Sunday Evening", m: "festivaldvd.sundayevening"}];

    var tshirt_skus = [{n: "Mens Short XS", m: "tshirts.menshortxs"},
      {n: "Mens Short S", m: "tshirts.menshorts"},
      {n: "Mens Short M", m: "tshirts.menshortm"},
      {n: "Mens Short L", m: "tshirts.menshortl"},
      {n: "Mens Short XL", m: "tshirts.menshortxl"},
      {n: "Mens Short XXL", m: "tshirts.menshortxxl"},
      {n: "Mens Short XXXL", m: "tshirts.menshortxxxl"},
      {n: "Mens Long XS", m: "tshirts.menlongxs"},
      {n: "Mens Long S", m: "tshirts.menlongs"},
      {n: "Mens Long M", m: "tshirts.menlongm"},
      {n: "Mens Long L", m: "tshirts.menlongl"},
      {n: "Mens Long XL", m: "tshirts.menlongxl"},
      {n: "Mens Long XXL", m: "tshirts.menlongxxl"},
      {n: "Mens Long XXXL", m: "tshirts.menlongxxxl"},
      {n: "Ladies Short XS", m: "tshirts.ladiesshortxs"},
      {n: "Ladies Short S", m: "tshirts.ladiesshorts"},
      {n: "Ladies Short M", m: "tshirts.ladiesshortm"},
      {n: "Ladies Short L", m: "tshirts.ladiesshortl"},
      {n: "Ladies Short XL", m: "tshirts.ladiesshortxl"},
      {n: "Ladies Short XXL", m: "tshirts.ladiesshortxxl"},
      {n: "Ladies Short XXXL", m: "tshirts.ladiesshortxxxl"},
      {n: "Ladies Long XS", m: "tshirts.ladieslongxs"},
      {n: "Ladies Long S", m: "tshirts.ladieslongs"},
      {n: "Ladies Long M", m: "tshirts.ladieslongm"},
      {n: "Ladies Long L", m: "tshirts.ladieslongl"},
      {n: "Ladies Long XL", m: "tshirts.ladieslongxl"},
      {n: "Ladies Long XXL", m: "tshirts.ladieslongxxl"},
      {n: "Ladies Long XXXL", m: "tshirts.ladieslongxxxl"},
      {n: "Youth Short S", m: "tshirts.youthshorts"},
      {n: "Youth Short M", m: "tshirts.youthshortm"},
      {n: "Youth Short L", m: "tshirts.youthshortl"},
      {n: "Youth Short XL", m: "tshirts.youthshortxl"},
      {n: "Youth Long S", m: "tshirts.youthlongs"},
      {n: "Youth Long M", m: "tshirts.youthlongm"},
      {n: "Youth Long L", m: "tshirts.youthlongl"},
      {n: "Youth Long XL", m: "tshirts.youthlongxl"}]; // REMEMBER TO ADD SHIRTS

    var guest_skus = [{n: "Musical Performance - Adult", m: "tickets.musicalperformance.adult"},
      {n: "Musical Performance - Student/Senior", m: "tickets.musicalperformance.studentsenior"},
      {n: "Musical Performance - Child", m: "tickets.musicalperformance.child"},
      {n: "Gala Performance - Afternoon - Adult", m: "tickets.galaperformance.afternoon.adult"},
      {n: "Gala Performance - Afternoon - Student/Senior", m: "tickets.galaperformance.afternoon.studentsenior"},
      {n: "Gala Performance - Afternoon - Child", m: "tickets.galaperformance.afternoon.child"},
      {n: "Gala Performance - Evening - Adult", m: "tickets.galaperformance.evening.adult"},
      {n: "Gala Performance - Evening - Student/Senior", m: "tickets.galaperformance.evening.studentsenior"},
      {n: "Gala Performance - Evening - Child", m: "tickets.galaperformance.evening.child"},
      {n: "Weekend Package - Adult", m: "tickets.packageprice.adult"},
      {n: "Weekend Package - Student/Senior", m: "tickets.packageprice.studentsenior"},
      {n: "Weekend Package - Child", m: "tickets.packageprice.child"},
      {n: "Tanchaz - Friday", m: "tickets.tanchaz.friday"},
      {n: "Tanchaz - Saturday", m: "tickets.tanchaz.saturday"},
      {n: "Tanchaz - Sunday", m: "tickets.tanchaz.sunday"}];
    
    // Participants Section
    for(var i = 0; i < participant_skus.length; i++) {
      var item = participant_skus[i];
      if(eval("tickets."+item.m) != 0)
        $("#participants tbody").append(tableRow(item.n, item.m)); 
    }

    var participants_subtotal = total;
    $("#participants-subtotal").html(toPrice(participants_subtotal));

    // Tshirts Section
    for(var i = 0; i < tshirt_skus.length; i++) {
      var item = tshirt_skus[i];
      if(eval("tickets."+item.m) != 0)
        $("#tshirts tbody").append(tableRow(item.n, item.m));
    }

    var tshirts_subtotal = total - participants_subtotal;
    $("#tshirts-subtotal").html(toPrice(tshirts_subtotal));

    // Guests Section
    for(var i = 0; i < guest_skus.length; i++) {
      var item = guest_skus[i];
      if(eval("tickets."+item.m) != 0)
        $("#guests tbody").append(tableRow(item.n, item.m));
    }
    
    var guests_subtotal = total - participants_subtotal - tshirts_subtotal;
    $("#guests-subtotal").html(toPrice(guests_subtotal));
 
    // Grand Total
    $("#grand-total").html(toPrice(total));
  });

#account-form-container
  #account-form.form-horizontal.well.span8
    h3 Billing Information
    p
      | Bill to: #{locals.user.groupname} <br />
      | c/o #{locals.user.name} <br />
      | #{locals.user.festivaldvd.address} <br />
      | #{locals.user.festivaldvd.city} <br />
      | #{locals.user.festivaldvd.postalcode} <br />
    br
    
    #billingtable
      h3 PARTICIPANTS
      table#participants.table.table-bordered
        thead
          th Item
          th Qty
          th Unit Price
          th Subtotal
        tbody
      
      h4.pull-right Category Subtotal: <span id="participants-subtotal"></span>

      br
      h3 T-SHIRTS
      table#tshirts.table.table-bordered
        thead
          tr
            th Item
            th Qty
            th Unit Price
            th Item Subtotal
        tbody

      h4.pull-right Category Subtotal: <span id="tshirts-subtotal"></span>

      br
      h3 GUEST TICKETING
      table#guests.table.table-bordered
        thead
          tr
            th Item
            th Qty
            th Unit Price
            th Item Subtotal
        tbody

      h4.pull-right Category Subtotal: <span id="guests-subtotal"></span>

    hr
    br
    h3.pull-right Grand Total: <span id="grand-total"></span>

    hr
    br
    p.big 
      | <strong>Please make cheques payable to:</strong><br />
      | HUNGARIAN CULTURAL SOCIETY - FOLK FESTIVAL
    p.big
      | <strong>Please mail payment to:</strong><br />
      | Carole Gemer <br />
      | c/o 829 15 Street South <br />
      | Lethbridge, AB&nbsp;&nbsp;&nbsp;T1J 3A3 <br />
    hr
    p.big
      strong DEADLINE FOR ALL INFORMATION, PHOTOS, AND PAYMENT IS AUGUST 27, 2013.
    p.big
      strong Hotel bookings must be completed by August 27th to guarantee special room rates.
    p.big
      strong WE CANNOT PROCESS ANY ORDERS FOR T-SHIRTS OR TICKETS UNTIL PAYMENT IS RECEIVED!
    
// display form errors in a custom modal window //

include modals/form-errors
